<!DOCTYPE html>
<html>
<head>
  <title>CreditForCredits</title>
  <%= render 'layouts/stylesheets' %>
  <%= render 'layouts/javascript' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
